@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
$primary-color: #3d3d3d;
$chat-background: #f6f7f4;

html {
  background-color: $chat-background;
}
h1 {
  color: tomato;
}

body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

.image {
  width: 50%;
  margin-left: 5rem;
  margin-right: auto;
}

.chatbar {
  background: $primary-color;
  border-top: 1px solid grey;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  font-family: 'Titillium Web', sans-serif;
}

.chatbar-form {
  display: flex;
  width: 100%;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid grey;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.user-message {
  display: flex;
  padding: 5px;
  font-family: sans-serif;
  margin-left: 20rem;
}

.message {
  display: flex;
  padding: 5px;
  font-family: sans-serif;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username,
.message-date {
  margin: 5px;
  padding: 0 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.message-content {
  flex: 8;
  max-width: 30rem;
}

.message-username {
  flex: 2;
  font-weight: 700;
  min-width: 7rem;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  background: $chat-background;
}

.list-group {
  padding: 1rem;
  background: #d8d2cd;
  max-height: 50%;
  position: fixed;
  right: 0rem;
  top: 3.75rem;
  font-family: 'Titillium Web', sans-serif;
}
.navbar {
  background: $primary-color;
  border-bottom: 1px solid #525852;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 2px 2px black;
}

.navbar span {
  padding-right: 1rem;
  font-size: 1rem;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

#submitBtn {
  display: none;
}
